<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-header">
        <h2>Input JSON to parse below!</h2>
      </div>
      <div class="panel-body">
        <p>
          RustyJson is built to help turn a JSON document into a series of Rust structs to help with parsing JSON data into Rust with rustc_serialize.
        </p>
        <form method="post" id="json-form">
          <textarea class="col-xs-12" name="json" rows="15" id="json"></textarea>
          <button class="btn btn-success">Rustify</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-header">
        <h4>Example JSON</h4>
      </div>
      <div class="panel-body">
        <pre class="code">
          <code class="json">
{
  "name": "value"
}
          </code>
        </pre>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-header">
        <h4>Example Rust</h4>
      </div>
      <div class="panel-body">
        <pre class="code">
          <code>
struct JSON {
  value: String
}
          </code>
        </pre>
      </div>
    </div>
  </div>

</div>
