<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-header">
        <h2>Input JSON to parse below!</h2>
      </div>
      <div class="panel-body">
        <form method="post">
          <textarea class="col-xs-12" name="json" rows="15"></textarea>
          <button class="btn btn-success">Rustify</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-header">
        <h4>Example JSON</h4>
      </div>
      <div class="panel-body">
        <pre class="code">
          <code class="json">
{
  "name": "value"
}
          </code>
        </pre>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel">
      <div class="panel-header">
        <h4>Example Rust</h4>
      </div>
      <div class="panel-body">
        <pre class="code">
          <code>
Struct JSON {
  value: String
}
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
