<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-header">
        <h2>
          Here's your structs!
        </h2>
      </div>
      <div class="panel-body">
        <a class="btn btn-success" href="/">Convert more JSON!</a>
        <pre class="code">
          <code class="rust">
<%= @rusty %>
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
<script>
  mixpanel.track_links("a", "click link", {
    "referrer": document.referrer
  });
  mixpanel.track('got rust', {
    "json": <%=  params[:json] %>,
    "rust": "<%= @rusty.gsub("\n", '\n') %>",
  })
</script>